<!DOCTYPE html>
<html>
<head>
  <title>FineAntsApp</title>
  <%= stylesheet_link_tag    "application", "data-turbo-track": "reload", media: "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
</head>
<body>
  <div class="app-container">
    <div class="navigation">
      <%= render "admin/application/navigation" -%>
    </div>

    <main class="main-content" role="main">
      <%= yield %>
    </main>
  </div>
</body>
</html>
